<div class="row header" >
    <div class="col-12">
        <div class="row header-inside" >

            <div class="col-6 ">
                Create <b class="word">pandemic</b> simulation
                <p class="words">
                    You can create your own <br>
                    pandemic simulation 
                </p>
            </div>

            <div class="col-6 ">
                <img src="assets/images/streamline-icon-covid19-virus-3@450x450.PNG" alt="">
            </div>
        </div>

        <div class="row create-new">
            <div class="col-12">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2 btn create" [routerLink]="['']" fragment="test" >Get started</div>
                    <div class="col-2"></div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row simulation-part">
    
    <div class="col-12 simulations-list">
        <img src="assets/images/streamline-icon-task-list-1@35x35.PNG" class="rounded-circle" alt="" > Your Lists
    </div>

    <div class="col-12 list" id="test">
        <div class="row list-inside">
            <table class="table">
                <thead>
                    <tr>
                        <th>PDF</th>
                        <th>Name</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <th><img src="assets/images/arrow-down-free-icon-font.png" class="btn"></th>
                        <th>New Simulation</th>
                        <th><img src="assets/images/add-free-icon-font.png" class="btn" routerLink="/add-page"></th>
                        <th><img src="assets/images/pencil-free-icon-font.png" class="btn"></th>
                        <th><img src="assets/images/trash-free-icon-font.png" class="btn"></th>
                    </tr>
                    
                </thead>
                
            </table>
        </div>
    </div>
    
</div>
