<div class="row ">
    <div class="col-12">
        <div class="row footer">
            
            <div class="col-4">
                <div class="row">
                    <div class="col-12"><img src="assets/images/streamline-icon-clipboard-list@76x76.PNG"> <b class="logo">Pandemic simulation</b></div>

                    <div class="col-12 description">
                        we have missions to<br> 
                        make people around the<br> 
                        world know the dangers of a<br>
                        pandemic
                    </div>
                    
                </div>
                

            </div>

            <div class="col-8 ">
                <div class="row footer-right">

                    <div class="col-3">
                        <div class="row">
                            <div class="col-12"><b class="footer-cat">About</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">About Us</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">Features</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">News</b></div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="row">
                            <div class="col-12"><b class="footer-cat">Movement</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">Support Us</b></div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="row">
                            <div class="col-12 footer-cat">Company</div>
                            <div class="col-12"><b class="btn footer-inside-cat">Capital</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">Security</b></div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="row">
                            <div class="col-12"><b class="footer-cat">Support</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">FAQs</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">Support Center</b></div>
                            <div class="col-12"><b class="btn footer-inside-cat">Contact Us</b></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="row ">
                    <div class="col-3">@2021 Pandemic Simulation. All rights reserved</div>
                    <div class="col-3"></div>
                    <div class="col-3 footer-bottom">Terms & Agreements</div>
                    <div class="col-3 footer-bottom">Privacy Policy</div>
                </div> 
            </div>
            

        </div>
    </div>
</div>
